body {
  background-color: #150940;
  color: white;
  /*padding: 40px;*/
  font-family: Arial;
}

.lyrics {
  color: #F29849;
  font-size: 30px;
}
.chords {
  position: absolute;
  font-size: 20px;
  color: #F2E74B;
}
.chordsLine {
  padding-bottom: 15px;
}

.songSection {
  margin: 0 30px;
}
