body {
  background-color: black;
  font-family: Tahoma, Geneva, sans-serif;
}
.lyrics {
  color: #F29849;
}
.chords {
  position: absolute;
  color: #F2E74B;
}
.chordsLine {
  padding-bottom: 5px;
}

.songSection {
  margin: 0 30px;
}
